body {
  background-color: #add;
  font-family: Tahoma;
  font-size: 14px;
  display: flex;
}

.tag1{
  background-color: aqua;
  padding: 10px;
  border: solid;
  margin: 10px ;

}

.tag2{
  background-color: red;
  padding: 10px;
  border: solid;
  margin: 10px;
}

.tag3{
  padding: 10px;
  border: dashed;
  margin: 10px;
  background-image: linear-gradient(to bottom, white,black 90%)
  
}